<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>JBQ - Entrevista</title>

<link rel="stylesheet" type="text/css" th:href="@{/dist/bootstrap-4.3.1/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/dist/css/style.css}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

<link rel="shortcut icon" th:href="@{/dist/img/logo.png}"/>
</head>

<body>

	<nav class="navbar navbar-color navbar-expand-lg">
		<a href="#"> <img th:src="@{/dist/img/logo.png}"
			alt="Smiley face" width="30px">
			<strong style="color: black">Cadastro de clientes</strong>
		</a>
		
		<div class="btn-group menu-right dropleft">
			<div class="dropdown">
			  <a class="fas fa-bars navbar-fontcolor" style="text-decoration:none" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
			  </a>
			
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			    <a class="dropdown-item" th:href="@{/servicos}">Serviços</a>
			    <div class="dropdown-divider"></div>
			    <a class="dropdown-item" th:href="@{/logout}">Sair</a>
			  </div>
			</div>
		</div>
	</nav>

	<section>
		<div class="container navbar-margin">

			<form method="POST" th:object="${clientes}" th:action="@{/clientes/add}">

				<div class="alert  alert-success  alert-dismissible" role="alert"
					th:if="${not #strings.isEmpty(mensagem)}">
					<button type="button" class="close" data-dismiss="alert">
						<span aria-hidden="true">&times;</span>
					</button>

					<span th:text="${mensagem}"></span>
				</div>

				<div class="alert  alert-danger  alert-dismissible" role="alert"
					th:if="${#fields.hasAnyErrors()}">
					<button type="button" class="close" data-dismiss="alert">
						<span aria-hidden="true">&times;</span>
					</button>

					<th:block th:each="detailedError : ${#fields.detailedErrors()}">
						<div>
							<i class="fa  fa-exclamation-circle"></i>
							[[${detailedError.message}]].
						</div>
					</th:block>
				</div>

				<div class="jumbotron bg-light">

						<div class="form-row">
							<div class="form-group col-md-6">
								<div class="input-group mb-3">
									<a th:href="@{/clientes}" class="btn btn-outline-primary">Lista
										de clientes</a>
								</div>
							</div>
						</div>
	
						<div class="form-row">
							<div class="form-group col-md-2">
								<!-- <label for="input-nome">Id</label> -->
								<input type="hidden" class="form-control" id="input-nome"
									name="id" th:value="${clientes.id}">
							</div>
						</div>
	
						<div class="form-row">
							<div class="form-group col-md-12">
								<label for="input-nome">Nome</label> <input type="text"
									class="form-control" id="input-nome"
									placeholder="Dígite seu nome" name="nome" th:field="*{nome}">
							</div>
						</div>
	
						<div class="form-row">
							<div class="form-group col-md-3">
								<label for="inputEmail4">Sexo</label>
								<div>
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" class="custom-control-input"
											id="defaultInline1" name="sexo" th:field="*{sexo}"
											value="MASCULINO" checked> <label
											class="custom-control-label" for="defaultInline1">Masculino</label>
									</div>
	
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" class="custom-control-input"
											id="defaultInline2" name="sexo" th:field="*{sexo}"
											value="FEMININO"> <label class="custom-control-label"
											for="defaultInline2">Feminino</label>
									</div>
								</div>
							</div>
	
							<div class="form-group col-md-5">
								<label for="telefone">Telefone</label> <input type="text"
									class="form-control" id="telefone"
									placeholder="Dígite seu contato" name="telefone"
									th:field="*{telefone}">
							</div>
							
							<div class="form-group col-md-4">
								<label for="dataNascimento">Nascimento</label> <input type="text"
									class="form-control dataNascimento" id="dataNascimento"
									placeholder="Escolha a data do seu nascimento"
									name="dataNascimento" th:field="*{dataNascimento}">
							</div>
	
						</div>
	
						<div class="form-row">
							<div class="form-group col-md-12">
								<label for="cep">Endereço</label> <input type="text"
									class="form-control" id="cep"
									placeholder="Dígite seu endereço"
									name="endereco" th:field="*{endereco}">
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-12">
									<label for="telefone">Selecione o serviço</label> 
									<select class="form-control js-example-basic-multiple" 
									  multiple="multiple" name="servicos" th:field="*{servicos}">
									  <option th:each="servico : ${serv}" th:value="${servico.id}" th:text="${servico.nome}">Servicos</option>
									</select>
							</div>
						</div>
	
						<div class="form-row">
							<div class="col-sm-offset-6 col-sm-6">
								<button type="submit" class="btn btn-outline-primary">Salvar</button>
							</div>
						</div>
					</div>
				</form>
			</div>
	</section>

	<footer class="footer">
		<div class="container">
			<span class="text-muted">© 2019 <a target="_blank">Gerson Alves Batista Junior</a>. Projeto em MVC para estudo.
			</span>
		</div>
	</footer>

	<script th:src="@{/dist/js/jquery/jquery-3.4.0.min.js}"></script>
	<script th:src="@{/dist/bootstrap-4.3.1/js/bootstrap.min.js}"></script>
	
	<script th:src="@{/dist/js/crud.js}"></script>
	<script th:src="@{/dist/js/moment-with-locales.js}"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
	
</body>

</html>